:root {
  --c-product-kwp-main: #3498DB;
  --c-product-kwp-lighter: #DBEEFA;
  --c-product-campaign-creator-main: #2FCC71;
  --c-product-campaign-creator-lighter: #C9FFE0;
  --c-product-audit-main: #FCA539;
  --c-product-audit-lighter: #FEE8CC;
  --c-product-banner-creator-main: #D439E9;
  --c-product-banner-creator-lighter: #F9D6FF;
  --c-product-slack-main: #660294;
  --c-product-slack-lighter: #ECC8FF;
  --c-product-translator-main: #E74C3C;
  --c-product-translator-lighter: #F8CDC9;
  --c-product-promo-code-main: #1ABC9C;
  --c-product-promo-code-lighter: #B3F4E8;
  --c-product-mobile-app-main: #F1C40F;
  --c-product-mobile-app-lighter: #FBF1C1;
  --c-product-teams-main: #4D54BB;
  --c-product-teams-lighter: #D9DBF7;
  --c-product-digital-pack-main: #E58E26;
  --c-product-digital-pack-lighter: #F6D9B6;
  --c-primary-lighter: #DCEDF9;
  --c-primary-light: #A8D3F0;
  --c-primary-main: #3498DB;
  --c-primary-dark: #1F77B2;
  --c-primary-darker: #0F3A57;
  --c-secondary-lighter: #CBFFE1;
  --c-secondary-light: #79F1BB;
  --c-secondary-main: #2ECC71;
  --c-secondary-dark: #20B35F;
  --c-secondary-darker: #13532E;
  --c-gray-darker: #4A4A4A;
  --c-gray-dark: #828282;
  --c-gray-main: #A5A2A2;
  --c-gray-light: #D9D9D9;
  --c-gray-lighter: #F6F6F6;
  --c-danger-lighter: #FCDAD7;
  --c-danger-light: #E57373;
  --c-danger-main: #F44336;
  --c-danger-dark: #D32F2F;
  --c-danger-darker: #B71C1C;
  --c-success-main: #2ECC71;
  --c-white: #ffffff;
  --shadow-lg: 0 2px 21px rgba(0, 0, 0, 0.1);
  --radius-md: 8px;
  --radius-full: 9999em;
  --f-family-main: 'Nunito', sans-serif;
  --f-family-alternative: 'Montserrat', sans-serif;
  --text-lg: 1.2rem;
  --text-md: 1rem;
  --text-sm: 0.875rem;
  --text-xs: 0.75rem;
  --text-2xs: 0.625rem;
  --line-height-body: 1.3;
  --space-xs: .25rem;
  --space-sm: .5rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;
  --space-xl: 2rem;
  --space-2xl: 2.5rem;
  --space-3xl: 3rem;
  --form-control-height: 2.25rem; }

.tabs__controls {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--c-gray-lighter); }

.tabs__control {
  text-decoration: none;
  color: var(--c-gray-dark);
  display: block;
  padding: var(--space-md) var(--space-lg); }
  .tabs__control:focus, .tabs__control:hover {
    outline: 0;
    color: var(--c-primary-main); }
  .tabs__control[aria-selected="true"] {
    color: var(--c-primary-main);
    background-color: var(--c-white);
    box-shadow: inset 0 2px var(--c-primary-main); }

.temporal {
  width: 329px;
  margin: 0 0 0 auto; }

body {
  font-family: var(--f-family-main);
  font-size: var(--text-sm);
  color: var(--c-gray-main);
  line-height: var(--line-height-body);
  margin: 0; }

* {
  box-sizing: border-box; }

input, button, select {
  font-family: inherit;
  font-size: inherit;
  background-color: var(--c-white); }

p {
  margin: 0 0 var(--space-md); }

.section {
  padding: var(--space-xl) var(--space-md); }
  .section--gray {
    background-color: var(--c-gray-lighter); }

.step {
  margin-bottom: var(--space-xl); }
  .step__header {
    color: var(--c-gray-darker);
    display: grid;
    grid-template-columns: auto 1fr;
    -webkit-box-align: center;
    align-items: center;
    gap: var(--space-sm);
    margin-bottom: var(--space-sm); }
  .step__number {
    height: 40px;
    width: 40px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: var(--c-white);
    font-size: var(--text-lg);
    font-weight: 700;
    font-family: var(--f-family-alternative);
    background-position: center center;
    background-repeat: no-repeat; }
    .step--one .step__number {
      background-image: url("data:image/svg+xml,%3Csvg width='29' height='34' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.246 34.006c8.745 0 14.76-7.893 14.76-16.767 0-8.875-9.348-17.233-18.093-17.233C2.17.006.006 8.588.006 17.462c0 8.874 5.495 16.544 14.24 16.544z' fill='%232ECC71' fill-rule='evenodd'/%3E%3C/svg%3E"); }
    .step--two .step__number {
      background-image: url("data:image/svg+xml,%3Csvg width='26' height='29' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.937 29C23.09 29 26 19.852 26 12.789 26 5.726 20.203 0 13.051 0 5.9 0 0 10.472 0 17.535 0 24.598 8.786 29 15.937 29z' fill='%23F1C40F' fill-rule='evenodd'/%3E%3C/svg%3E"); }
    .step--three .step__number {
      background-image: url("data:image/svg+xml,%3Csvg width='30' height='29' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.642 29.006c7.173 0 17.352-8.779 17.352-16.276S20.154.006 12.981.006C5.808.006-.006 6.083-.006 13.58S5.47 29.006 12.642 29.006z' fill='%233498DB' fill-rule='evenodd'/%3E%3C/svg%3E"); }

.choice-buttons-group {
  border: 0;
  margin: 0 0 var(--space-lg);
  padding: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between; }

.choice-button__label {
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: .2s;
  border-radius: var(--radius-md);
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  text-align: center;
  height: var(--form-control-height);
  padding: 0 var(--space-md);
  background-color: var(--c-gray-lighter);
  color: var(--c-primary-main);
  font-weight: 700; }
  input:checked + .choice-button__label {
    background-color: var(--c-primary-main);
    color: var(--c-white); }
  .choice-button--platform .choice-button__label {
    font-weight: 500;
    box-shadow: var(--shadow-lg);
    padding: var(--space-md) 0;
    border: 2px solid var(--c-white);
    background-color: var(--c-white);
    font-size: var(--text-2xs);
    color: var(--c-gray-dark);
    min-width: 80px;
    height: auto; }
    .choice-button--platform .choice-button__label img {
      display: block;
      margin-bottom: var(--space-xs); }

.choice-button--platform input:checked + .choice-button__label {
  border-color: var(--c-primary-main);
  color: var(--c-gray-dark);
  background-color: var(--c-white); }

.button {
  display: -webkit-inline-box;
  display: inline-flex;
  padding: 0 var(--space-lg);
  height: var(--form-control-height);
  background-color: var(--c-gray-lighter);
  border-radius: var(--radius-md);
  color: var(--c-primary-main);
  font-weight: bold;
  -webkit-box-align: center;
  align-items: center;
  border: 0;
  cursor: pointer; }
  .button:focus {
    outline: 0; }

.button-primary {
  display: -webkit-inline-box;
  display: inline-flex;
  padding: 0 var(--space-xl);
  height: var(--form-control-height);
  background-color: var(--c-primary-main);
  border-radius: var(--radius-md);
  color: var(--c-white);
  font-weight: 500;
  -webkit-box-align: center;
  align-items: center;
  border: 0;
  cursor: pointer; }
  .button-primary:focus, .button-primary:hover {
    outline: 0;
    background-color: var(--c-primary-dark); }

.select {
  height: var(--form-control-height);
  border: 1px solid var(--c-gray-light);
  border-radius: var(--radius-md);
  padding: 0 var(--space-xl) 0 var(--space-md);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23828282' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right .5rem center;
  background-size: 16px 12px;
  color: var(--c-gray-dark);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%; }
  .select:focus {
    outline: 0;
    border-color: var(--c-primary-main); }

.products-title {
  color: var(--c-gray-darker);
  padding: var(--space-md) 0 var(--space-lg); }

.products-list {
  list-style: none;
  margin: 0;
  padding: 0; }

.product {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--space-md);
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: var(--space-lg);
  text-decoration: none;
  color: var(--c-gray-main); }
  .product--kwp {
    --feature-color: var(--c-product-kwp-main);
    --feature-bg: var(--c-product-kwp-lighter); }
  .product--audit {
    --feature-color: var(--c-product-audit-main);
    --feature-bg: var(--c-product-audit-lighter); }
  .product--campaign-creator {
    --feature-color: var(--c-product-campaign-creator-main);
    --feature-bg: var(--c-product-campaign-creator-lighter); }
  .product--promo-code {
    --feature-color: var(--c-product-promo-code-main);
    --feature-bg: var(--c-product-promo-code-lighter); }
  .product__title {
    font-family: var(--f-family-alternative);
    color: var(--feature-color, var(--c-primary-main));
    font-weight: 500;
    margin-bottom: var(--space-xs); }
  .product__arrow {
    font-size: var(--text-lg);
    line-height: 1;
    margin-right: var(--space-xs); }
  .product__icon {
    --main-header-feature-icon-size: 1.25rem;
    --main-header-feature-circle-size: 2.875rem;
    border-radius: 50%;
    color: var(--feature-color, var(--c-primary-main));
    background-color: var(--feature-bg, var(--c-primary-lighter));
    display: -webkit-box;
    display: flex;
    height: var(--main-header-feature-circle-size);
    width: var(--main-header-feature-circle-size); }
    .product__icon svg, .product__icon img {
      width: var(--main-header-feature-icon-size);
      height: var(--main-header-feature-icon-size);
      -o-object-fit: contain;
      object-fit: contain;
      margin: auto; }
  .product__details {
    font-size: var(--text-xs); }

.account {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center; }
  .account__avatar {
    height: 2rem;
    -webkit-box-flex: 0;
    flex: 0 0 2rem;
    margin-right: var(--space-md); }
    .account__avatar img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      display: block;
      border-radius: 50%; }
  .account__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-flex: 1;
    flex-grow: 1;
    min-width: 0%;
    margin-right: var(--space-xs); }
  .account__action {
    -webkit-box-flex: 0;
    flex: 0 0 auto; }

.button-small {
  font-size: var(--text-2xs);
  text-transform: uppercase;
  font-weight: 700;
  padding: 0 var(--space-md);
  border-radius: 9999rem;
  background-color: var(--c-gray-lighter);
  white-space: nowrap;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  height: 1.25rem;
  text-decoration: none;
  color: var(--c-primary-main); }
  .button-small--danger {
    color: var(--c-danger-main); }

.loading {
  padding: var(--space-md) 0;
  text-align: center; }
  .loading__image {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: auto; }
  .loading__text {
    font-size: var(--text-lg);
    font-weight: bold;
    color: var(--c-gray-darker); }
    .loading__text::after {
      margin-left: -0.1em;
      min-width: 3ch;
      display: inline-block;
      text-align: left;
      content: "";
      -webkit-animation: loading-dots 1s steps(4) infinite alternate-reverse;
      animation: loading-dots 1s steps(4) infinite alternate-reverse; }

@-webkit-keyframes loading-dots {
  33% {
    content: "."; }
  66% {
    content: ".."; }
  100% {
    content: "..."; } }

@keyframes loading-dots {
  33% {
    content: "."; }
  66% {
    content: ".."; }
  100% {
    content: "..."; } }

.form-field {
  height: var(--form-control-height);
  border: 1px solid var(--c-gray-light);
  border-radius: var(--radius-md);
  padding: 0 var(--space-md);
  color: var(--c-gray-dark);
  display: block;
  width: 100%; }
  .form-field:focus {
    outline: 0;
    border-color: var(--c-primary-main); }
  .form-field::-webkit-input-placeholder {
    color: var(--c-gray-light); }
  .form-field:-ms-input-placeholder {
    color: var(--c-gray-light); }
  .form-field::placeholder {
    color: var(--c-gray-light); }

.button-icon {
  cursor: pointer;
  border: 0;
  height: var(--form-control-height);
  width: var(--form-control-height);
  border-radius: 50%;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: var(--c-secondary-main);
  color: var(--c-white); }
  .button-icon svg {
    width: 70%;
    height: 70%; }
  .button-icon:focus, .button-icon:hover {
    outline: 0;
    background-color: var(--c-secondary-dark); }

.search-form {
  display: grid;
  -webkit-box-align: center;
  align-items: center;
  grid-template-columns: 1fr auto;
  gap: var(--space-sm); }

.padding-bottom {
  padding-bottom: var(--space-md); }

.padding-top {
  padding-top: var(--space-md); }

.text-center {
  text-align: center; }

.sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  padding: 0;
  border: 0;
  white-space: nowrap; }

.is-hidden {
  display: none; }
